@media screen and (max-width: 480px){
  body{
    background-color:#33ccff;
  }
  #cuerpo{
    width: 350px;
    margin: auto;

  }
  h1{
    text-align: center;
  }
  #cabezal{
    height: 50px;
    background: PINK;
    margin: 0;
    padding: 0;
  }
  #caja{
    height: 250px;
    width: auto;
    background: yellow;
    overflow: hidden;
    margin: 0;
    padding: 0;

  }

  .pelis{
    height: 180px;
    width: 120px;
    background: pink;
    margin: 10px 10px 10px 30px;
    float: left;
    text-align: center;
  }
  #maps{
    width:auto;
    height: 240px;
    background: green;
    margin: 10px;
    padding: 0;
  }

#bloc:not(:focus){
  background-color: purple;
  position: relative;
  top: 0;
  left: 0;
  width: 1340px;
  height: 250px;
  -webkit-animation: pass 20s infinite;
  animation: pass 20s infinite;
}

#bloc:hover{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#bloc:focus{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
@keyframes pass {
  0%{
    left: 0%;
  }
  10%{
    left: -160px;
  }
  20%{
    left: -320px;
  }
  30%{
    left: -480px;
  }
  40%{
    left: -640px;
  }
  50%{
    left: -800px;
  }
  60%{
    left: -960px;
  }
  70%{
    left: -1120px;
  }
  80%{
    left: -1280px;
  }
}
}
