@media screen and (max-width: 480px){
  body{
    background-color:#33ccff;
  }
  #cuerpo{
    width: 250px;
    margin: auto;

  }
  h1{
    text-align: center;
  }
  #cabezal{
    height: 50px;
    background: yellow;
    margin: 0;
    padding: 0;
  }
  #caja{
    height: 300px;
    width: auto;
    background: yellow;
      overflow:auto;
  }

  #cajaspelis{
    height: 180px;
    width: 130px;
    background: red;
    margin: 10px 10px 10px 20px;
    float: left;
  }
  #maps{
    width:auto;
    height: 300px;
    background: green;
    margin: 10px;
    padding: 0;
  }

  .pelis{
    text-align: center;
  }
}
