@media screen and (min-width: 481px) and (max-width: 768px){
  body{
    background-color: #ccffff;
}
h1{
  text-align: center;
}
#cuerpo{
 width: 650px;
 margin:auto;
}
#cabezal{
  height: 50px;
  background: pink;
  margin: auto;
  padding: 0;
}
#caja{
  height: 270px;
  width: auto;
  background: yellow;
  overflow: hidden;
  margin: 0;
  padding: 0;
  float: left;
}

.pelis{
  height: 200px;
  width: 140px;
  background: pink;
  margin: 10px 30px 10px 70px;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
}

#maps{
 width: 320px;
 height: 265px;
 background-color: pink;
 float: left;
}
.mapas{
  width: 270px;
  height: 200px;
  background: lightblue;
  margin: 30px;
  padding: 0;
  border-radius: 2px;

}

#bloc{
  background-color: purple;
  position: relative;
  top: 0;
  left: 0;
  width: 300%;
  animation-name: pass;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
#bloc:hover{
  animation-play-state: paused;
}
}
